.header
{
    display: flex;
    margin: 50px  auto;
}
.pic 
{
    width: 265px;
    height: 226px;
    position: absolute;
    right: 10px;
}

.footer
{
    position: absolute;
    bottom: 0%;
    right: 10%;
}

.heads
{
    text-align: center;
    color: salmon;
    width: 45px;
    height: 65px;
}

.aside
{
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: yellow;
    position: absolute; right: 150px;
}