.header
{
    display: flex;
    margin: 50px  auto;
}
.pic 
{
    width: 322px;
    height: 282px;
    position: absolute;
    right: 10px;
}

.info
{
    font-size: 35px;
    color: salmon;
    font-weight: bold;
}

.footer
{
    position: absolute;
    bottom: 0%;
    right: 10%;
}